*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/Match_People_App_Build_Plan.md
/Revolut_20_Day_Technical_Prep_Plan.md
/Revolut_Revised_20_Day_Plan.md
.idea/appInsightsSettings.xml
.idea/deploymentTargetSelector.xml
.idea/